<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">博客</title>
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" href="/favicon.ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="" th:href="@{/lib/editormd/lib/codemirror/codemirror.min.css}">
    <link rel="stylesheet" href="" th:href="@{/lib/editormd/lib/codemirror/addon/dialog/dialog.css}">
    <link rel="stylesheet" href="" th:href="@{/lib/editormd/lib/codemirror/addon/search/matchesonscrollbar.css}">
</head>
<body>


<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog_管理后台</h2>
            <a href="#" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide" th:classappend="${n==1}?'active'"><i class="home icon"></i>博客</a>
            <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide" th:classappend="${n==2}?'active'"><i class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${n==3}?'active'"><i class="tags icon"></i>标签</a>
            <a href="#" th:href="@{/getDiary}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class="calendar alternate icon"></i>&nbsp日志/备忘</a>
            <a href="#" th:href="@{/admin/file/upload}" class="m-item item m-mobile-hide" th:classappend="${n==5} ? 'active'"><i class="save icon"></i>文件系统</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" th:src="${session.user.avatar}">
                        <span th:text="${session.user.nickName}">用户昵称</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#"th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--选项-->
<div th:fragment="choose" class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="teal active item">列表</a>
        </div>
    </div>
</div>

<!--footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">添加我</h4>
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechatAvatar.png}" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">关注我</h4>
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechatOfficial.jpg}" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
                <!--<div class="ui inverted link list">-->
                <!--&lt;!&ndash;<a href="#" class="item m-text-thin">-&#45;&#45;&#45;&#45;敬请期待-&#45;&#45;&#45;&#45;</a>&ndash;&gt;-->
                <!--</div>-->
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">快捷链接</h4>
                <div class="ui compact menu" style="width: 6em;background: #1B1C1D;padding: 0.1em !important">
                    <div class="ui simple dropdown item" style="padding: 0.1em !important;color: #f1f1f1;font:11px/1.1 Tahoma,Helvetica,Arial,'宋体',sans-serif;height: 1.2em">快捷链接-搜索<i class="dropdown icon" ></i>
                        <div class="menu" style="padding: 0.1em !important;background-color: #1B1C1D">
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://www.baidu.com/">百度</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://cn.bing.com/">必应</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://www.sogou.com/">搜狗</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://www.google.com">谷歌</a></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui compact menu" style="width: 6em;background: #1B1C1D;padding: 0.1em !important">
                    <div class="ui simple dropdown item" style="padding: 0.1em !important;color: #f1f1f1;font:11px/1.1 Tahoma,Helvetica,Arial,'宋体',sans-serif;height: 1.2em">快捷链接-学习<i class="dropdown icon" ></i>
                        <div class="menu" style="padding: 0.1em !important;background-color: #1B1C1D">
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://www.nowcoder.com/">牛客网</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://leetcode-cn.com/">LeetCode</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://github.com/fangtingfei">GitHub</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://www.cnblogs.com/">博客园</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://www.csdn.net/">CSDN</a></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui compact menu" style="width: 6em;background: #1B1C1D;padding: 0.1em !important">
                    <div class="ui simple dropdown item" style="padding: 0.1em !important;color: #f1f1f1;font:11px/1.1 Tahoma,Helvetica,Arial,'宋体',sans-serif;height: 1.2em">快捷链接-其它<i class="dropdown icon" ></i>
                        <div class="menu" style="padding: 0.1em !important;background-color: #1B1C1D">
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://www.bilibili.com/">B站</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://www.zhihu.com/">知乎</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://translate.google.cn/">谷歌翻译</a></div>
                            <div class="item" style="padding: 0.1em !important"><a target="_blank" style="color: #f1f1f1" href="https://www.yingjiesheng.com/">应届生求职网</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="three wide column">-->
            <!--<h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>-->
            <!--<div class="ui inverted link list">-->
            <!--<p class="item m-text-thin">Email：fangtingfei1@163.com</p>-->
            <!--<p class="item m-text-thin">Wechat：ftf15965912598</p>-->
            <!--<p class="item m-text-thin">QQ：1159851944</p>-->
            <!--</div>-->
            <!--</div>-->
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客。会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 CodeFlyer Designed by FangTingfei</p>
    </div>
</footer>
<th:block th:fragment="js">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script src="" th:src="@{/lib/editormd/lib/codemirror/codemirror.min.js}"></script>
</th:block>
</body>
</html>