<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>登陆成功</title>
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments::menu(0)"></nav>

<br>
<br>
<br>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui success message m-padded-tb-huge" >
        <div class="ui contianer">
            <h2 style="font-weight: bolder">Hi,</h2>
            <span style="font-size: large;color: #0a001f;font-weight: bolder" th:text="${session.user.nickName}">用户昵称</span><span>，欢迎登陆！</span>
        </div>
    </div>
</div>

<th:block th:replace="admin/_fragments::js"></th:block>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

</script>

</body>
</html>