<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Error</h1>
联系管理员：qq:1159851944&nbsp&nbsp&nbspEmail:1159851944@qq.com
<!--<div th:utext="'&lt;!&#45;&#45;'" th:remove="tag"></div>-->
<div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div><br>
<div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
<br><br><h3>错误堆栈信息:</h3><br>
<ul style="color: #e60000" th:remove="tag">
    <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
</ul>
</body>
</html>