<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客开发维护日记</title>
</head>
<body>
2020/2/26  开始系统维护<br><br>
2020/2/27  完善了几个没有实现的功能，包括首页Type，Tag，最新博客的展示<span style="color: #e60000;font-size: small">(博客数目查询和最新博客展示暂在Controller实现的，后续将改成在dao层实现，并按博客数目排序展示）</span>，评论功能的一点实现<span style="color: #e60000;font-size: small">（暂时只能实现一层评论，后续完善层级评论功能）</span>。
博客浏览次数增加。游客首页Type,Tag按钮功能的实现（同样暂在Controller层实现的数目查询）。<br><br>
2020/2/28  实现管理后台博客Type和Tag编辑功能。添加网站favicon.ico图标。去掉测试数据，数据库内容初始化。测试写博客。<br><br>
2020/2/29  后台管理系统实现博客可点击查看详情，博客编辑页面解决参数回传不全问题。重温cookie和session会话技术。<span style="color: #e60000; font-size: large";>实现用户15天免登录</span><br><br>
2020/3/6   首页展示后台优化，标签查询博客数量持久层实现。项目推到Github.<br><br>
2020/3/10  编辑部分前端页面。<br><br>
<span style="color: #e60000; font-size: large";>2020/3/16  将该项目部署到云服务器上。</span><br><br>
2020/4/24  优化日志处理和异常处理，完善后台未登录处理。<br><br>
</body>
</html>