<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ftf.myblog.dao.CommentDao">

    <insert id="saveComment" parameterType="cn.ftf.myblog.pojo.Comment">
        insert into t_comment (nickname,email,content,avatar,create_time,blog_id,parent_comment_id,ip,adminComment)
        values (#{nickname},#{email},#{content},#{avatar},#{createTime},#{blogId},#{parentCommentId},#{ip},#{adminComment})
    </insert>

    <select id="findByBlogIdParentIdNull" resultType="cn.ftf.myblog.pojo.Comment">
        select c.adminComment, c.ip, c.id,c.nickname,c.email,c.content,c.avatar,c.create_time createTime,c.blog_id blogId,c.parent_comment_id parentCommentId
        from t_comment c
        where c.blog_id = #{blogId} and c.parent_comment_id = #{blogParentId}
        order by c.create_time desc
    </select>
    
    <select id="findByParentCommentId" resultType="cn.ftf.myblog.pojo.Comment">
        select c.id,c.nickname,c.email,c.content,c.avatar,c.create_time createTime,c.blog_id blogId,
        c.parent_comment_id parentCommentId from t_comment c where c.parent_comment_id = #{parentCommentId}
    </select>
</mapper>