<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ftf.myblog.dao.TagDao">
    <resultMap id="findAllTagMap" type="cn.ftf.myblog.pojo.Tag">
        <id column="id" property="id"></id>
        <result column="name" property="name"/>
        <association property="blogNum" javaType="int" column="id" select="cn.ftf.myblog.dao.TagDao.blogNum"></association>
    </resultMap>

    <!--<resultMap id="findByBlogIdMap" type="cn.ftf.myblog.pojo.Tag">-->
        <!--<id property="id" column="tag_id"></id>-->
        <!--<association property="name" javaType="java.lang.String" column="id" select="cn.ftf.myblog.dao.TagDao.getNameById"></association>-->
    <!--</resultMap>-->
    <select id="getById" resultType="cn.ftf.myblog.pojo.Tag">
        select * from t_tag where id=#{id}
    </select>
    <!--<select id="getNameById" parameterType="int" resultMap="java.lang.String">-->
        <!--select name from t_tag where id=#{id}-->
    <!--</select>-->

    <insert id="saveTag" parameterType="cn.ftf.myblog.pojo.Tag">
        <selectKey order="AFTER" resultType="java.lang.Integer" keyProperty="id">
            SELECT LAST_INSERT_ID();
        </selectKey>
        insert into t_tag(name)values (#{name})
    </insert>

    <select id="getByName" resultType="cn.ftf.myblog.pojo.Tag">
        select * from t_tag where name = #{name}
    </select>

    <select id="findAll"  resultMap="findAllTagMap">
        select * from t_tag
    </select>

    <select id="findByBlogId" parameterType="int" resultType="cn.ftf.myblog.pojo.Tag">
        select * from t_tag where id in (select tag_id from t_blog_tags where blog_id=#{id})
    </select>

    <select id="findAll_1"  resultType="cn.ftf.myblog.pojo.Tag">
        select * from t_tag
    </select>

    <delete id="deleteTag" >
        delete from t_tag where id = #{id}
    </delete>

    <delete id="deleteBlogAndTag" parameterType="int">
        delete from t_blog_tags where blog_id=#{id}
    </delete>

    <update id="updateTag" parameterType="cn.ftf.myblog.pojo.Tag">
        update t_tag set name = #{name} where id = #{id};
    </update>

    <select id="blogNum" parameterType="int" resultType="int">
        select count(*) from t_blog_tags where tag_id=#{id};
    </select>


</mapper>