<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.ftf.myblog.dao.TypeDao" >
    <resultMap id="findAllTypeMap" type="cn.ftf.myblog.pojo.Type">
        <id column="id" property="id"></id>
        <result column="name" property="name"/>
        <association property="blogNum" javaType="int" column="id" select="cn.ftf.myblog.dao.TypeDao.blogNum"></association>
    </resultMap>
    <select id="findById" parameterType="int" resultType="cn.ftf.myblog.pojo.Type">
        select * from t_type where id = #{id}
    </select>
    <insert id="addType" parameterType="cn.ftf.myblog.pojo.Type">
        <selectKey order="AFTER" resultType="java.lang.Integer" keyProperty="id">
            SELECT LAST_INSERT_ID();
        </selectKey>
        insert into t_type(name)values (#{name})
    </insert>
    <select id="findAll" resultMap="findAllTypeMap">
        select * from t_type
    </select>
    <select id="findAll_1" resultType="cn.ftf.myblog.pojo.Type">
        select * from t_type
    </select>
    <delete id="delete" parameterType="int">
        delete from t_type where id=#{value}
    </delete>
    <update id="updateType" parameterType="cn.ftf.myblog.pojo.Type">
        update t_type set name = #{name} where id = #{id};
    </update>
    <select id="blogNum" parameterType="int" resultType="int">
        select count(*) from t_blog where type_id=#{id};
    </select>
    <select id="findByBlogId" parameterType="int" resultType="cn.ftf.myblog.pojo.Type">
         SELECT type.* FROM t_type TYPE,t_blog blog WHERE blog.id=#{id} AND type.id=blog.type_id;
    </select>

</mapper>
